        div{
            transition-duration: 2.00s;
            border: 2px dotted;           
            border-color: #009933;
        }
        span{
            transition-duration: 2.00s;
            border: 2px solid;           
            border-color: #009933;
        }
        #container {
            display: table;
        }
        #row  {
            display: table-row;
        }
        #leftCont {
            display: table-cell;
            width: 100px;
        }
        #centCont {
            display: table-cell;
        }
        #rightCont {
            display: table-cell;
            width: 100px;
        }
        p{
            border: 2px ridge;
            border-color: red;   
        }
         ul{
            border: 2px ridge;
            border-color: red;
            list-style: none;
            padding:0;   
        }